<div class="row">
	<div class="small-11 columns"></div>
	<div class="small-1 columns" id="home-login-link" >
		<%= link_to "Login" %>
	</div>
</div>
<div class="row">
	<div class="small-2 columns text-center">
		<ul>
			<li><%= image_tag "accessCirclesLogo.gif" %></li>
			<%= link_to "Vision" %>
			<%= link_to "Community" %>
			<%= link_to "Experiences" %>
			<%= link_to "Contact" %> <br>
			<%= link_to "Login" %>
		</ul>
	</div>
	<div class="small-10 columns">
		<ul class="slider" data-orbit>
			<li>
				<%= image_tag "welcome-to-our-circle.jpg" %>
			</li>
			<li>
				<%= image_tag "trusted-community.jpg" %>
			</li>
			<li>
				<%= image_tag "reflection-inspiration.jpg" %>
			</li>
			<li>
				<%= image_tag "change.jpg" %>
			</li>
			<li>
				<%= image_tag "transformation-journeys.jpg" %>
			</li>
			<li>
				<%= image_tag "finding-balance.jpg" %>
			</li>
		</ul>
	</div>
</div>

